#computer-size {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100%;
  background-color: rgba(230, 217, 37, 0.854);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  top: 0;
}

@media screen and (max-width: 710px) {
  #computer-size {
    display: none;
  }
}
